<div>
    <div  class="panel panel-default" ng-if="!vm.searchParams.companyId">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row pd-bottom-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">在招公司</label>
                            <div class="col-md-8">
                                <input type="text"  ng-model="vm.searchParams.companyName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">职位名称</label>
                            <div class="col-md-8">
                                <input type="text"  ng-model="vm.searchParams.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">工作经验</label>
                            <div class="col-md-8">
                                <select ng-model="vm.searchParams.experience">
                                    <option value=""> 全部 </option>
                                    <option ng-repeat="x in vm.ProfessionConstant.experience" ng-value="x.type" ng-selected="x.type == vm.searchParams.experience">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pd-bottom-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">学历要求</label>
                            <div class="col-md-8">
                                <select ng-model="vm.searchParams.education">
                                    <option value=""> 全部 </option>
                                    <option ng-repeat="x in vm.ProfessionConstant.education" ng-value="x.type" ng-selected="x.type == vm.searchParams.education">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">薪资</label>
                            <div class="col-md-8">
                                <select ng-model="vm.searchParams.compensation">
                                    <option value=""> 全部 </option>
                                    <option ng-repeat="x in vm.ProfessionConstant.compensation" ng-value="x.type" ng-selected="x.type == vm.searchParams.compensation">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">状态</label>
                            <div class="col-md-8">
                                <select ng-model="vm.searchParams.status">
                                    <option value="">全部</option>
                                    <option value="1">上架</option>
                                    <option value="0">下架</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pd-bottom-2">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label col-md-2">创建时间</label>
                            <div class="col-md-10">
                                <bs-picker></bs-picker>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row pd-bottom-2">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label col-md-2">职业类别</label>
                            <div class="col-md-10">
                                  <span class="vertical-middle">
                    <select class="form-control" ng-model="vm.searchParams.category"
                            ng-change="vm.subCategoryFn(vm.searchParams.category)" required>
                        <option value="">请选择</option>
                        <option ng-repeat="item in vm.categoryData track by $index"  ng-value="item .id"
                                ng-selected="item .id == vm.searchParams.category">
                            {{item.name}}
                        </option>
                    </select>
                                      <!--<input type="text" ng-model="vm.searchParams.category">-->
                </span>
                                <label class="control-label vertical-middle">—</label>
                                <span class="vertical-middle">
                    <select class="form-control" ng-model="vm.searchParams.subCategory" required>
                        <option value="">请选择</option>
                          <option ng-repeat="a in vm.subCategoryData track by $index"  ng-value="a .id"
                                  ng-selected="a .id == vm.searchParams.subCategory">
                            {{a.name}}
                        </option>
                    </select>
                                    <!--<input ng-model="vm.searchParams.subCategory">-->
                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-right ">
                        <button ng-click="vm.clear()" type="button" class="btn btn-warning">清空</button>
                        <button ng-click="vm.search()" type="button" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
<!--<div ng-if="vm.searchParams.companyId"  class="pull-right">-->
    <!--<button ui-sref="field.positionDetail({companyId:vm.searchParams.companyId,companyName:vm.searchParams.companyName,n:false})" type="button" class="btn btn-primary">新增</button>-->
<!--</div>-->
    <!--表格开始-->
    <div class="panel panel-default" >
        <div class="panel-heading">
            <div ng-if="vm.searchParams.companyId"  >
                <strong>职位信息</strong>
                <button class="pull-right btn btn-primary btn-xs" ui-sref="field.positionDetail({companyId:vm.searchParams.companyId,companyName:vm.searchParams.companyName,n:false})" type="button" class="btn btn-primary">新增</button>
            </div>
        </div>

        <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed text-center" id="table-customized">
            <thead >
            <th>序号</th>
            <th>在招公司</th>
            <th>职位名称</th>
            <th>职业类别</th>
            <th>薪资</th>
            <th>学历要求</th>
            <th>工作经验</th>
            <th>发布时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>

            <!--表格内容通过ng-repeat自动生成-->
            <tbody>
            <tr ng-repeat="x in vm.list track by $index">
                <!--获取数组下标生成序号-->
                <td>{{$index + 1}}</td>
                <td>{{x.companyName}}</td>
                <td> {{x.name}}</td>
                <td> {{x.category|position:'category'}}</td>
                <td>{{x.compensation|position:'compensation'}}</td>
                <td>{{x.education|position:'education'}}</td>
                <td>{{x.experience|position:'experience'}}</td>
                <td>{{x.updateAt|date:"yyyy-MM-dd"}}</td>
                <td>{{x.status|position:'status'}}</td>
                <td>
                    <button ng-click="vm.changePositionStatus(x.id,x.status)"class="btn btn-warning">{{x.status|position:'status2'}}</button>
                    <button ui-sref="field.positionDetail({id:x.id,companyId:x.companyId,companyName:x.companyName,n:!vm.searchParams.companyId})" class="btn btn-primary">编辑</button>
                    <button ng-click="vm.delPosition(x.id)"class="btn  btn-danger">删除</button>
                </td>
            </tr>
            </tbody>
        </table>

        <!--ui-bootstrap分页-->
        <nav class="pull-right">
            <ul class="pagination-sm" uib-pagination total-items="vm.num" ng-model="vm.param.page"
                max-size="vm.maxSize" items-per-page="vm.maxPerPage" boundary-links="true" force-ellipses="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
            <!--<div>{{vm.article.page}}</div>-->
        </nav>
            </div>

    </div>



</div>