<!--类型搜索-->
<div class="">
    <div class="overflow">
    <div class="pull-left search-margin">
        <span class="">标     题</span>
        <input type="text"  ng-model="search" oninput="if(value.length>1)value=value.slice(0,1)">
    </div>
    <div class="pull-left search-margin">
        <span class="">创 建 者</span>
        <input type="text"  ng-model="search">
    </div>
    <div class="pull-left search-margin" >
        <span >创建时间&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span >
                    <select name="province" class="search-city"></select>
            <span>-</span>
                    <select name="city" class="search-city"></select>

    </div>

    <div class="pull-left search-margin">
        <span class="">状     态</span>
        <input type="text"  ng-model="search">
    </div>

    <div class="pull-left search-margin">
        <span class="">类     型</span>
        <input type="text"  ng-model="search">
    </div>

    </div>

<div class="pull-right">
    <button ng-click="" type="button" class="btn btn-info ">
        <span class="glyphicon glyphicon-search"></span>清空
    </button>
    <button ng-click="" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span>搜索
    </button>
</div>

</div>

<!--表格开始-->
<div>
    <table class="table table-striped table-bordered table-hover table-condensed ">
        <thead>
        <th>序号</th>
        <th>图片</th>
        <th>标题</th>
        <th>类型</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>状态</th>
        <th>操作</th>
        </thead>

        <!--表格内容通过ng-repeat自动生成-->
        <tbody>
        <tr ng-repeat="x in vm.list">
            <!--获取数组下标生成序号-->
            <td>{{$index + 1}}</td>
            <td><img  class="width60" src="{{x.img}}"> </td>
            <td> {{x.title}}</td>
            <td> {{x.type}}</td>
            <td>{{x.author}}</td>
            <td>{{x.createAt}}</td>
            <td>{{x.updateAt}}</td>
            <td>{{x.status}}</td>
            <td> <button ng-click=""class="btn btn-info">
                搜索
            </button></td>

        </tr>
        </tbody>
    </table>
</div>