<!--类型搜索-->
<div>
<div class="">
    <div class="">
    <div class="pull-left search-margin">
        <span class="">标     题</span>
        <input type="text"  ng-model="search" oninput="if(value.length>1)value=value.slice(0,1)">
    </div>
    <div class="pull-left search-margin">
        <span class="">创 建 者</span>
        <input type="text"  ng-model="search">
    </div>
    <div class="pull-left search-margin" >
        <span >创建时间 </span >
        <!--<time-picker  start-at="vm.article.startAt" end-at="vm.article.endAt" clear="vm.clear" ></time-picker>-->
       <bs-picker></bs-picker>

    </div>



    <div class="pull-left search-margin ">
        <span class="">状     态</span>
        <input type="text"  ng-model="search">
    </div>

    <div class="pull-left search-margin">
        <span class="">类     型</span>
        <input type="text"  ng-model="search">
    </div>
    </div>

<div class="pull-right">
    <button ng-click="" type="button" class="btn btn-warning">清空</button>
    <button ng-click="" type="button" class="btn btn-primary">搜索</button>
</div>

</div>

<!--表格开始-->
<div>
    <table class="table table-hover table-bordered table-condensed text-center" id="table-customized">
        <thead >
        <th>序号</th>
        <th>图片</th>
        <th>标题</th>
        <th>类型</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>状态</th>
        <th>操作</th>
        </thead>

        <!--表格内容通过ng-repeat自动生成-->
        <tbody>
        <tr ng-repeat="x in vm.list">
            <!--获取数组下标生成序号-->
            <td>{{$index + 1}}</td>
            <td><img  class="width60" src="{{x.img}}"> </td>
            <td> {{x.title}}</td>
            <td> {{x|Article:'type'}}</td>
            <td>{{x.author}}</td>
            <td>{{x.createAt|date:"yyyy-MM-dd"}}</td>
            <td>{{x.updateAt|date:"yyyy-MM-dd"}}</td>
            <td>{{x|Article:'status'}}</td>
            <td>
                <button ng-click=""class="btn btn-warning">下线</button>
                <button ng-click=""class="btn btn-primary">编辑</button>
                <button ng-click=""class="btn  btn-danger">删除</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!--ui-bootstrap分页-->
    <nav class="pull-right ">
        <ul class="pagination-sm" uib-pagination total-items="vm.num" ng-model="vm.currentPage"
            max-size="vm.maxSize" items-per-page="vm.maxPerPage" boundary-links="true" force-ellipses="true"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
    </nav>

</div>
</div>